@charset "utf-8";

@import url(common.css);

/*　ハンバーガーメニュー　*/
#nav-drawer {
position: absolute;
background: #f9b5f2;
top: 25px;
left: 25px;
width:60px;
height: 60px;
line-height:60px;
border-radius:50%;
text-align: center;
}

/*チェックボックス等は非表示に*/
.nav-unshown {
  display:none;
}

/*アイコンのスペース*/
#nav-open {
  display: inline-block;
  width: 30px;
  height: 22px;
  vertical-align: middle;
}

/*ハンバーガーアイコンをCSSだけで表現*/
#nav-open span, #nav-open span:before, #nav-open span:after {
  position: absolute;
  height: 3px;/*線の太さ*/
  width: 25px;/*長さ*/ 
border-radius: 3px;
  background: white;
  display: block;
  content: '';
  cursor: pointer;
}
#nav-open span:before {
  bottom: -8px;
}
#nav-open span:after {
  bottom: -16px;
}

/*閉じる用の薄黒カバー*/
#nav-close {
  display: none;/*はじめは隠しておく*/
  position: fixed;
  z-index: 99;
  top: 0;/*全体に広がるように*/
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0;
  transition: .3s ease-in-out;
}

/*中身*/
#nav-introduction {
color: black;  
overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;/*最前面に*/
  width: 90%;/*右側に隙間を作る（閉じるカバーを表示）*/
  max-width: 330px;/*最大幅（調整してください）*/
  background: #f9b5f2;/*背景色*/
  transition: .3s ease-in-out;/*滑らかに表示*/
  -webkit-transform: translateX(-105%);
  transform: translateX(-105%);/*左に隠しておく*/
}

#nav-menu {
color: black;  
  overflow: auto;
  position: fixed;
  top: 50px;
  left: 0;
  z-index: 9998;/*最前面に*/
  width: 90%;/*右側に隙間を作る（閉じるカバーを表示）*/
  max-width: 330px;/*最大幅（調整してください）*/
  background: #f9b5f2;/*背景色*/
  transition: .3s ease-in-out;/*滑らかに表示*/
  -webkit-transform: translateX(-105%);
  transform: translateX(-105%);/*左に隠しておく*/
}

#nav-coupon {
color: black;  
  overflow: auto;
  position: fixed;
  top: 100px;
  left: 0;
  z-index: 9999;/*最前面に*/
  width: 90%;/*右側に隙間を作る（閉じるカバーを表示）*/
  max-width: 330px;/*最大幅（調整してください）*/
  background: #f9b5f2;/*背景色*/
  transition: .3s ease-in-out;/*滑らかに表示*/
  -webkit-transform: translateX(-105%);
  transform: translateX(-105%);/*左に隠しておく*/
}

#nav-reservation {
color: black;  
  overflow: auto;
  position: fixed;
  top: 150px;
  left: 0;
  z-index: 9999;/*最前面に*/
  width: 90%;/*右側に隙間を作る（閉じるカバーを表示）*/
  max-width: 330px;/*最大幅（調整してください）*/
  background: #f9b5f2;/*背景色*/
  transition: .3s ease-in-out;/*滑らかに表示*/
  -webkit-transform: translateX(-105%);
  transform: translateX(-105%);/*左に隠しておく*/
}

/*チェックが入ったらもろもろ表示*/
#nav-input:checked ~ #nav-close {
  display: block;/*カバーを表示*/
  opacity: .5;
}

#nav-input:checked ~ #nav-introduction {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);/*中身を表示（右へスライド）*/
}

#nav-input:checked ~ #nav-menu {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);/*中身を表示（右へスライド）*/
}

#nav-input:checked ~ #nav-coupon {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);/*中身を表示（右へスライド）*/
}

#nav-input:checked ~ #nav-reservation {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);/*中身を表示（右へスライド）*/
}

/*最小で768pxまでハンバーガーメニューを非表示*/
@media screen and (min-width:768px) {
  #nav-drawer {
    display:none;
  }
}

/*最大で767pxまでナビゲーションを非表示*/
@media screen and (max-width:767px) {
  nav ul li {
    display:none;
  }
}

/*　ハンバーガーメニューここまで　*/



/*メディアごとの表示を変更*/
@media screen and (min-width:768px){
/* PC用CSS -------------- */
.hoge{
display: none;
}
}

@media screen and (max-width:767px){
/* スマホ用CSS -------------- */
.hoge{
display: none;
}
}

body{
background-color: black;
color: white;
}

header, nav, #breadcrumb, #contents, footer{
width: 840px;
margin: 0 auto 0 auto;
}

header h1{
margin: 0 0 26px 0;
padding-top: 28px;
text-align: center;
}


nav ul{
list-style-type: none;
margin: 0 0 20px 0;
padding-left: 0;
overflow: hidden;
}

nav ul li{
width: 210px;
float: left;
}


nav ul li a{
display: block;
height: 0;
padding-top: 44px;
overflow: hidden;
}

nav ul li#nav_introduction a{
background-image: url(../images/nav1.png);
}

nav ul li#nav_menu a{
background-image: url(../images/nav2.png);
}

nav ul li#nav_coupon a{
background-image: url(../images/nav3.png);
}

nav ul li#nav_reservation a{
background-image: url(../images/nav4.png);
}


#main{
width: 570px;
float: left;
}

#sub{
width: 230px;
float: right;
}


footer{
padding-top: 70px;
clear: both;
}


#main h1{
margin: 0 0 30px 0;
padding: 35px 0 35px 65px;
background-image: url(../images/bg_h1_head.png),url(../images/bg_h1_bottom.png);
background-repeat: no-repeat,no-repeat;
background-position: left top,left bottom;
font-size: 156.25%;
}


#concept #nav_introduction a, #plan #nav_menu a, #fair #nav_coupon a, #contact #nav_reservation a, nav ul li a:hover{
background-position: 0 -45px;
}

#news ul{
list-style-type: none;
padding-left: 0;
}

#news ul li{
padding: 20px 0 20px 175px;
border-bottom: 1px dotted white;
color: white;
text-indent: -175px;
}

#main ul li a:hover{
  opacity: 0.7;
} 

aside div a dl dt img:hover{
  opacity: 0.7;
} 

aside div a p img:hover{
  opacity: 0.7;
} 